/* rgb(191 222 0) rgb(78 231 0) green */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Merriweather&family=Montserrat:wght@100&family=Pacifico&family=Poppins:wght@100;500;600&family=Righteous&family=Ubuntu:wght@300&display=swap');
#title {
    background-color:#ff4c68;
    font-family:'Montserrat-Black',sans-serif;
    padding:0% 10%;
    border-bottom:#fff5 1px solid;
}
.nav-color a{
    color:white;
}
#first {
    background-color:#ff4c68;
    font-family: 'Montserrat-Black', sans-serif;
    color:white;
    padding:2% 10%;
    
}
#first h1{
    font-size:60px;
    font-weight: 100;
}
#title h2 {
    font-size:40px;
}
#title nav-link {
    font-size:25px;
    color:#fff8
}
#girl {
    transform: rotate(-20deg);
}
#first button {
    margin:0px 10px;
}
.i-color {
    color:#ff4c6899;
}
.i-color:hover{
    color:#ff4c68;
}
#feature {
    text-align:center;
}
#feature div{
    padding:40px;
}
#partners
{
    /* padding:top+bottom left+right */
    padding:5% 0%;
    background-color:#ff4c68;
}
#partners h1{
    text-align:center;
    color:white;
    border-bottom:1px solid #fff2;
}

#partners img{
    /* height:100%; */
    width:50%;
    text-align:center;
    box-sizing: border-box;
    margin:0 auto;
}
body {
    overflow-x:hidden;
    overflow-y: scroll;
}
/* courses starts here */
#courses {
    width:100%;
    background-color:rgb(red, green, blue)
}
#courses img{
    width:100%;
    /* height:150px; */
}
#courses h1, h3{
    text-align:center;
    font-weight:100;
}
#courses .row h3 {
    font-size:25px;
}
#courses .row p{
    font-size:17px;
}
#courses h3 {
    font-size:18px
}
#courses div{
    margin:20px 0px;
}
.c-card {
    text-align: center;
    border:1px solid #0004;
    height:max-content;
    padding:10px 0px;
}
.c-card button{
    padding:10px 20px;
    border-radius:15px;
    border:1px solid black;
    box-shadow:0 0 20px #0005;
}
.c-card button a{
    text-decoration:none;
    color:black;
}
.c-card button:hover{
    color:white;
    background-color:black;
}
/* footer div{
    text-align:center;
}
footer {
    background-color:#ff4c68;
    margin:0px;
    padding:20px 0px;
    text-align:center;
}
footer input:focus {
    outline:none;

}
footer input {
    border-radius:20px;
    height:35px;
    width:320px;
    padding:0px 5px;
    margin: auto;
}
.news {
    padding:30px;
}
#carosel {
    width:100%;

} */
#testimonial{
   
    text-align: center;
    background-color: #ef8172;
    color:white;
    font-family: 'Montserrat-Bold';
}
.carousel-item{
    padding:7% 15%;
}
#testimonial img{
    /* width:200px;
    height:250px; */
    width:20%;
    border-radius: 100%;
    margin:20px;
}
#footer{
    margin-top: 35px;
    padding:7% 15%;
    background-color:#ef8172;
    color:white;
}
.logo{
    color:#fff;
}

#footer a{
    line-height: 2.5;
    text-decoration: none;
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    color:#fff;
    font-size:1.5rem;
    
}
#footer a:hover{
    color:#000;
}
#footer .logo:hover{
    color:#000;
}
.copy{
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    color:#fff;
    font-size:1.5rem;
}
.color{
    color:#fff;
    font-family: 'Montserrat-Bold';
}